// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$gray-f5: #f5f5f5;
$gray-fa: #fafafa;
$white: #ffffff;
$gray-light: #5c6470;
$label-text: #6f7588;
$bgColor: #f5f6fa;
$gray-dark: #2e3238;
$gray-extra-dark: #1e1e1e;
$input-border: #c0ccd0;
$input-color: #454b54;
$btn-danger: #ff6e6e;

// Color Shades (Theme Based - Xclusive)
$theme-primary: #1e2432;
$theme-secondary: #687086;
$btn-color: #2d66fe;

$theme-success: #61b23b;
$theme-info: #9c6dff;
$theme-warning: #ff8238;
$theme-orange: #ff6e6e;
$theme-danger: #e24c4b;
$theme-yellow: #ea9d04;
$theme-cyan: #35d2cc;
$theme-pink: #c83375;
$theme-link: #004b8f;
$theme-purple: #b469ff;
